<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小U商城列表页</title>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" href="css/top.css">
    <link rel="stylesheet" href="css/Responsive.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/prolist.css">
    <link rel="stylesheet" href="font_2/iconfont.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
</head>
<body>
    <div class="top">
        <div class="top_1 layout clearfix">
           <ul class="nav_l  clearfix">
            <li class="dao top_1_li_a">
                <a href="#">网站导航 <span class="iconfont icon-xiajiantou"></span></a>
                <div class="dao_1">

                    <div class="dao_1_1">

                        <h5>特色购物</h5>
                        <ul class="dao_1_1_ul clearfix">
                            <li><a href="#">苏宁互联</a></li>
                            <li><a href="#">苏宁达人</a></li>
                            <li><a href="#">苏宁卡</a></li>
                            <li><a href="#">苏宁国际</a></li>
                            <li><a href="#">易回收</a></li>
                            <li><a href="#">二手优品</a></li>
                            <li><a href="#">领劵中心</a></li>
                            <li><a href="#">苏宁Outlets</a></li>
                            <li><a href="#">节能超市</a></li>
                            <li><a href="#">导购指南</a></li>

                        </ul>
                    </div>
                    <div class="dao_1_1">
                        <h5>主题频道</h5>
                        <ul class="dao_1_1_ul clearfix">
                            <li><a href="#">电器城</a></li>
                            <li><a href="#">苏宁超市</a></li>
                            <li><a href="#">手机</a></li>
                            <li><a href="#">运动馆</a></li>
                            <li><a href="#">图书</a></li>
                            <li><a href="#">红孩子母婴</a></li>
                            <li><a href="#">美妆个护</a></li>
                            <li><a href="#">电脑</a></li>
                            <li><a href="#">服装城</a></li>
                            <li><a href="#">智能生活</a></li>
                            <li><a href="#">家装馆</a></li>
                            <li><a href="#">苏宁汽车</a></li>
                            <li><a href="#">排行榜</a></li>
                            <li><a href="#">医药馆</a></li>
                        </ul>
                    </div>
                    <div class="dao_1_1">
                        <h5>生活助手</h5>
                        <ul class="dao_1_1_ul clearfix">
                            <li><a href="#">零钱宝</a></li>
                            <li><a href="#">手机充值</a></li>
                            <li><a href="#">转账还账</a></li>
                            <li><a href="#">约服务</a></li>
                            <li><a href="#">水电煤</a></li>
                            <li><a href="#">保险</a></li>
                            <li><a href="#">机票</a></li>
                            <li><a href="#">门店查询</a></li>
                            <li><a href="#">酒店</a></li>

                        </ul>
                    </div>
                    <div class="dao_1_1">
                        <h5>会员服务</h5>
                        <ul class="dao_1_1_ul clearfix">
                            <li><a href="#">会员联盟</a></li>
                            <li><a href="#">延长保修</a></li>
                            <li><a href="#">易付宝</a></li>
                            <li><a href="#">苏宁理财</a></li>
                            <li><a href="#">苏宁金融</a></li>

                        </ul>
                    </div>
                    <div class="dao_1_1">
                        <h5>更多热点</h5>
                        <ul class="dao_1_1_ul clearfix">
                            <li><a href="#">pp视频</a></li>
                            <li><a href="#">合作招商</a></li>
                            <li><a href="#">苏宁联盟</a></li>
                            <li><a href="#">用户体验</a></li>
                            <li><a href="#">苏宁云</a></li>
                            <li><a href="#">苏宁足球</a></li>
                            <li><a href="#">苏宁公益</a></li>
                            <li><a href="#">苏宁有货</a></li>

                        </ul>
                    </div>
                </div>
            </li>
            <li class="shang top_1_li_a ">
                <a href="#">商家入驻 <span class="iconfont icon-xiajiantou"></span></a>
                <div class="chuang_1">
                    <ul class="chuang-1_ul clearfix">
                        <li><a href="#">合作招商</a></li>
                        <li><a href="#">服务市场</a></li>
                        <li><a href="#">金融管理</a></li>
                        <li><a href="#">培训中心</a></li>
                        <li><a href="#">易通天下</a></li>
                        <li><a href="#">规则中心</a></li>
                        <li><a href="#">规则众议院</a></li>
                    </ul>
                </div>
            </li>
            <li class="shang-2 top_1_li_a ">
                <a href="#">客户服务 <span class="iconfont icon-xiajiantou"></span></a>
                <div class="chuang_2">
                    <ul class="chuang-2_ul clearfix">
                        <li><a href="#">苏宁帮客</a></li>
                        <li><a href="#">帮助中心</a></li>
                        <li><a href="#">查找门店</a></li>
                        <li><a href="#">退换维修</a></li>
                        <li><a href="#">意见反馈</a></li>
                        <li><a href="#">30天包退</a></li>
                        <li class="chuang-2_ul_li1"><a href="#">在线咨询
                            <span class="iconfont icon-zixun zaixian"></span>
                        </a></li>
                    </ul>
                </div>
            </li>
            <li class="dizhi_bei ">
                <a href="#"><span class="iconfont icon-location beijing"></span> 北京 <span
                        class="iconfont icon-xiajiantou1 beijing_1"></span></a> 
                    </li>

        </ul>
        <ul class="nav_r clearfix">
            <li><a href="login.html">请登录</a></li>
            <li><a href="register.html" style="color: #faac3f;">注册有礼</a></li>
            <li class="ding top_1_li_a ">
                <a href="#">我的订单 <span class="iconfont icon-xiajiantou"></span></a>
                <div class="dingdan">
                    <ul class="dingdan_ul">
                        <li><a href="#">待支付</a></li>
                        <li><a href="#">待收货</a></li>
                        <li><a href="#">待评价</a></li>
                        <li><a href="#">修改订单</a></li>
                    </ul>
                </div>
            </li>
            <li class="yig top_1_li_a ">
                <a href="#">我的易购 <span class="iconfont icon-xiajiantou"></span></a>
                <div class="yigou clearfix">
                    <ul class="yigou_ul">
                        <li><a href="#"><img src="logo.ico" alt=""></a></li>
                        <li><a href="login.html">请登录</a></li>
                        <li><a href="#">我的二手</a></li>
                        <li><a href="#">我的关注</a></li>
                        <li><a href="#">我的金融</a></li>
                        <li><a href="#">苏宁会员</a></li>
                        <li><a href="#">我的任性付</a></li>
                        <li><a href="#">我的优惠卷</a></li>
                    </ul>
                </div>

            </li>


            <li><a href="#">小U会员</a></li>
            <li class="gouw top_1_li_a ">
                <a href="#" class="gouw_aa" style="color: #faac3f;"><span class="iconfont  icon-gouwuche"></span> 购物车</a> <span
                    class="iconfont icon-xiajiantou"></span>
                <div class="gouwu clearfix">
<img src="https://i01piccdn.sogoucdn.com/28a1b496b76d061f" alt="图片加载失败">
<p>不能让您的购物车空着，快去逛逛吧！</p>
<button class="gouwu_dengl"><a href="login.html">登录</a></button>
                </div>
            </li>
            <li><a href="#">易付宝</a></li>
            <li><a href="#">企业采购</a></li>
            <li class="xiaou top_1_li_a ">
                <a href="#">手机小U <span class="iconfont icon-xiajiantou"></span></a>
                <div class="xiaouu clearfix">
                    <div class="xiaouu_1">
                        <img src="images/index_xiaouu_1.jpg" alt="">
                        <p>关注苏宁推客公众号</p>
                        <p>自购省钱 分享赚钱</p>
                    </div>
                    <div class="xiaouu_2"></div>

                    <div class="xiaouu_1">
                        <img src="images/index_xiaouu_1 (2).jpg" alt="">
                        <p>扫一扫</p>
                        <p>下载苏宁金融APP</p>
                    </div>
                    <div class="xiaouu_2"></div>
                    <div class="xiaouu_1">
                        <img src="images/index_xiaouu_1 (3).jpg" alt="">
                        <p>扫一扫</p>
                        <p>关注苏宁易购服务号</p>
                    </div>
                </div>
            </li>
        </ul> 
        </div>
        
    </div>
    <header class="header layout">
        <div class="header_top">
            <div class="header_top_l">
                <img src="images/index_header_lo.jpg" alt="">
            </div>
            <div class="header_top_r">
                <div class="sousuo">
                    <form action="" class="parent">
                        <input type="text" class="search" placeholder="搜索">
                        <input type="button" value="搜索">

                    </form>
                </div>
            </div>
        </div>
        <div class="header_cen clearfix">
            <ul>
                <li><a href="#">手机 |</a></li>
                <li><a href="#">电动牙刷 |</a></li>
                <li><a href="#">电视 |</a></li>
                <li><a href="#" style="color: #ff5600;"> 海尔空调 |</a></li>
                <li><a href="#">洗衣机 |</a></li>
                <li><a href="#">茅台 |</a></li>
                <li><a href="#">热水器 |</a></li>
                <li><a href="#">ipad |</a></li>
                <li><a href="#">微波炉</a></li>
            </ul>
        </div>
        <div class="header_bot clearfix">
            <div class="header_bot_1">
                <a href="#"><img src="images/index_header_bot.jpg" alt=""></a>
                <h4>全部商品分类</h4>
            </div>
            <div class="header_bot_2">
                <ul class="clearfix">
                    <li><a href="#">限时抢购</a></li>
                    <li><a href="#">红孩子</a></li>
                    <li><a href="#">小U超市</a></li>
                    <li><a href="#">电器城</a></li>
                    <li><a href="#">生活家电</a></li>
                    <li><a href="#">时尚服饰</a></li>
                    <li><a href="#">金融</a></li>

                </ul>
            </div>
        </div>
    </header>
<div class="header_xian"></div>
<main class="wrap">
<div class="content1 layout">
        <ul class="content1_ul clearfix">
            <li><a href="#">首页 ></a></li>
            <li><a href="#">家用电器 ></a></li>
            <li class="content1_ul_li"><a href="#">年份季节：2020年春  &times;</a></li>
        </ul>
    </div>
    <div class="content2 layout">
<div class="con2_1 clearfix">
    <ul class="con2_1_ul1">
<li class="con2_1_li"><a href="#">品牌</a></li>

    </ul>

    <ul class="con2_1_ul2 clearfix">
        <li><a href="#">惠普</a></li>
        <li><a href="#">长城</a></li>
        <li><a href="#">三星</a></li>
        <li><a href="#">小米</a></li>
        <li><a href="#">康佳</a></li>
        <li><a href="#">海信</a></li>
        <li><a href="#">长城</a></li>
        <li><a href="#">TCL</a></li>
        <li><a href="#">东芝</a></li>
        <li><a href="#">松下</a></li>
        <li><a href="#">创维</a></li>
        <li class="con2_1_li2"><a href="#">更多</a></li>
    </ul>
</div>
<div class="con2_1 clearfix">
     <ul class="con2_1_ul1">
                <li class="con2_1_li"><a href="#">电视类型</a></li>

                </ul>
    <ul class="con2_1_ul2 clearfix">
       
    <li><a href="#">4k超清</a></li>
    <li><a href="#">曲面</a></li>
    <li><a href="#">人工智能</a></li>
    <li><a href="#">大屏</a></li>
    <li><a href="#">超薄</a></li>
    <li><a href="#">全面屏</a></li>
    <li><a href="#">OLED</a></li>
    <li><a href="#">商业显示</a></li>
    <li><a href="#">智慧屏</a></li>
    <li><a href="#">量子点</a></li>
    <li><a href="#">激光电视</a></li>
</ul>
</div>
<div class="con2_1 clearfix">
    <ul class="con2_1_ul1">
    <li class="con2_1_li"><a href="#">观看距离</a></li>

        </ul>
    <ul class="con2_1_ul2 clearfix">
    <li><a href="#">2m以下</a></li>
    <li><a href="#">2m-2.5m</a></li>
    <li><a href="#">2.5m-3m</a></li>
    <li><a href="#">3.5m以上</a></li>
    <li class="con2_1_li2"><a href="#">更多</a></li>

</ul>
</div>
<div class="con2_1 clearfix">
    <ul class="con2_1_ul1">
        <li class="con2_1_li"><a href="#">屏幕尺寸</a></li>

            </ul>
    <ul class="con2_1_ul2 clearfix">
    <li><a href="#">32英寸级以下</a></li>
    <li><a href="#">39-45英寸</a></li>
    <li><a href="#">48-50英寸</a></li>
    <li><a href="#">55英寸</a></li>
    <li><a href="#">58-60英寸</a></li>
    <li><a href="#">65英寸</a></li>
    <li><a href="#">70-75英寸</a></li>
    <li><a href="#">78英寸</a></li>
    <li><a href="#">100英寸</a></li>
    <li><a href="#">150英寸</a></li>
    <li><a href="#">其他尺寸</a></li>
    <li class="con2_1_li2"><a href="#">更多</a></li>
</ul>
</div>
<div class="con2_1 clearfix">
    <ul class="con2_1_ul1">
        <li class="con2_1_li"><a href="#">高级选项</a></li>

            </ul>
    <ul class="con2_1_ul2 clearfix">
        <li><a href="#">分辨率</a></li>
        <li><a href="#">处理器</a></li>
        <li><a href="#">音效</a></li>
        <li><a href="#">HDR</a></li>
        <li><a href="#">USB</a></li>
        <li><a href="#">音频输出</a></li>

        <li class="con2_1_li2"><a href="#">更多</a></li>
    </ul>
</div>


    </div>
    
<div class="content3 layout clearfix">
<div class="content3_left">
<div class="con3_le_in">
    <h3>商品推荐</h3>
    <a href="#"><img src="images/con3_le_in.png" alt=""></a>
<p>海信（Hisense）</p>
<p>海信LED55EC76UC 55</p>
<span class="con3_le_span">￥4999.00</span>
</div>
<div class="con3_le_in">
    <h3>商品推荐</h3>
    <a href="#"><img src="images/con3_le_in.png" alt=""></a>
<p>海信（Hisense）</p>
<p>海信LED55EC76UC 55</p>
<span class="con3_le_span">￥4999.00</span>
</div>
<div class="con3_le_in">
    <h3>商品推荐</h3>
    <a href="#"><img src="images/con3_le_in.png" alt=""></a>
<p>海信（Hisense）</p>
<p>海信LED55EC76UC 55</p>
<span class="con3_le_span">￥4999.00</span>
</div>
<div class="con3_le_in">
    <h3>商品推荐</h3>
    <a href="#"><img src="images/con3_le_in.png" alt=""></a>
<p>海信（Hisense）</p>
<p>海信LED55EC76UC 55</p>
<span class="con3_le_span">￥4999.00</span>
</div>
<div class="con3_le_in">
    <h3>商品推荐</h3>
    <a href="#"><img src="images/con3_le_in.png" alt=""></a>
<p>海信（Hisense）</p>
<p>海信LED55EC76UC 55</p>
<span class="con3_le_span">￥4999.00</span>
</div>
</div>
<div class="content3_right">
    <div class="content3_right_t">
        <ul class="clearfix">
            <li style="color: #faac3f;"><a href="#">综合</a></li>
            <li><a href="#">新品</a></li>
            <li><a href="#">销量</a></li>
            <li><a href="#">价格</a></li>
        </ul>
    </div>
    <div class="content3_c">
        <div class="content3_c_1 clearfix">
<a href="#">
    <img src="images/pli_content3_c_1.png" alt="">
</a>
<div class="con3_c_bao">
    <span class="con3_c_yang">￥4999.00</span>
        <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
        <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
        <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
        <div class="con3_c_gouwu clearfix">
            <div class="con3_c_gouwu_l">
                <span class="iconfont icon-jiarugouwuche"></span>
                <a href="shoppingcar.html">加入购物车</a></div>
            <div class="con3_c_gouwu_r">
                <span class="iconfont icon-shoucang"></span>
                收藏</div>
        </div>
</div>
        
</div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                    
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                    
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                    
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                       
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                    
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                     
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                     
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                     
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                     
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                     
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                      
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                      
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                        
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                      
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                      
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                      
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                      
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                      
        </div>
        <div class="content3_c_1">
            <a href="#">
                <img src="images/pli_content3_c_1.png" alt="">
            </a>
            <div class="con3_c_bao">
                <span class="con3_c_yang">￥4999.00</span>
                    <p>海信 电视机 超薄屏幕，护眼防蓝光</p>
                    <span style="color: #faac3f;font-size: 14px;">不要错过，不要辜负</span>
                    <p>已有人<span style="color: #faac3f;">3.2万+</span>评价</p>
                    <div class="con3_c_gouwu clearfix">
                        <div class="con3_c_gouwu_l">
                            <span class="iconfont icon-jiarugouwuche"></span>
                            加入购物车</div>
                        <div class="con3_c_gouwu_r">
                            <span class="iconfont icon-shoucang"></span>
                            收藏</div>
                    </div>
            </div>
                      
        </div>
    </div>
<div class="lo">
   
      <ul class="clearfix">
        <li>
        <a class="bot" href="#">1</a>
        </li>
        <li>
            <a class="bot" href="#">2</a>
            </li>
            <li>
                <a class="bot" href="#">3</a>
                </li>
                
                                <li>
                                    <a class="bot" href="#">...</a>
                                    </li>
                                    <li>
                                        <a class="bot" href="#">9</a>
                                        </li>
                                        <li>
                                            <a class="bot" href="#">10</a>
                                            </li>
                                            <li>
                                                <a class="bot" href="#">11</a>
                                                </li>
                                                <li>
                                                    <a class="bot" href="#">12</a>
                                                    </li>
        </ul>
   
   
</div>
</div>

</div>
</main>

    <footer class="footer">
        <div class="footer_top clearfix">
            <ul>
                <li><a href="#" style="font-size: 16px;">购物指南</a></li>
                <li><a href="#">购物流程</a></li>
                <li><a href="#">支付方式</a></li>
                <li><a href="#">配送方式</a></li>
            </ul>
            <ul>
                <li><a href="#" style="font-size: 16px;">售后服务</a></li>
                <li><a href="#">售后政策</a></li>
                <li><a href="#">价格保护</a></li>
                <li><a href="#">退款说明</a></li>
                <li><a href="#">返修/退换货</a></li>
                <li><a href="#">取消订</a></li>
            </ul>
            <ul>
                <li><a href="#" style="font-size: 16px;">配送方式</a></li>
                <li><a href="#">上门自提</a></li>
                <li><a href="#">211限时达</a></li>
                <li><a href="#">配送服务查询</a></li>
                <li><a href="#">配送费收取标准</a></li>
                <li><a href="#">海外配送</a></li>
            </ul>
            <ul>
                <li><a href="#" style="font-size: 16px;">支付方式</a></li>
                <li><a href="#">网上支付</a></li>
                <li><a href="#">支付宝支付</a></li>
                <li><a href="#">邮局汇款</a></li>

            </ul>
            <ul>
                <li><a href="#" style="font-size: 16px;">用户帮助</a></li>
                <li><a href="#">免费注册</a></li>
                <li><a href="#">找回密码</a></li>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">优惠卷使用</a></li>

            </ul>
        </div>
        <div class="footer_ce"></div>
        <div class="footer_bottom">
            <p>Copyright© 2002-2020，小U商城 版权所有 保留一切权利</p>
            <p>
                公网安备 3201013010078号| ICP备1022093551号-4 出版物经营许可证新出发批字第R-243号| 互联网药品信息服务资格证书-非经营性-2016-0005
            </p>
        </div>
    </footer>
</body>
</html>